.calculator
{
	margin: auto;	
	width: 52vh;
	height: 86vh;  
}

.calculator_style
{
	background-color:#202020;
}

.header
{
	width:100%;
	height:42px;
}

.calculation-area
{
	width:100%;
	height:25%;
}

.calc-line
{
	display:inline-block;
	width:100%;
	height:40%;
}

.calc-input-container
{
	display:inline-block;
	width:100%;
	height:60%;
}

.calc-input-container__calc-input
{
	width:100%;
	height:100%;
	border:none;
	background-color:#202020;
}

.calc-input-container__calc-input_text-style
{
	font-family:Segoe UI;
	text-align:right;
	color:#909090;
	font-size:100px;
	font-weight:300;
}

.calc-line__calc-string
{
	width:100%;
	height:100%;
	border:none;
	background-color:#202020;
	cursor: default;
}

.calc-line__calc-string_text-style
{
	font-family:Segoe UI;
	text-align:right;
	color:#909090;
	font-size:60px;
	font-weight:300;
}
	
.keyboard
{
	height:75%;
	padding:3px;
}

.keyboard_style
{
	background-color:#000000;
}

.calk-key
{
	display:inline-block;
	box-sizing: content-box;
	width:24.8%;
	height:19.8%;
	margin:0px -3px 1px 0px;
	padding:0px;
	border:none;
	text-decoration: none;
}

.calk-key_service
{
	background-color:#C8CACB;
}

.calk-key_operators
{
	background-color:#F78F12;
}

.calk-key_operand
{
	background-color:#D3D4D7;
}

.calk-key_double
{
	width:49.7%;
	text-align:left;
	text-indent:22%;
}

.calk-key__char
{
	font-family:Segoe UI;
}

.calk-key__char_digit
{
	color:#000000;
	font-size:250%;
	font-weight:300;
}

.calk-key__char_service
{
	font-size:250%;
	position:relative;
	top:0px;
}

.calk-key__char_operator
{
	color:#FFFEFD;
	font-size:250%;
	position:relative;
	top:0px;
}

.calk-key__char_char-plus
{
	position:relative;
	left:11px;
	top:-4px;
}

.calk-key__char_char-minus
{
	position:relative;
	left:-9px;
	top:3px;
}
